/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #D3FCD5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Header Styles */
header {
  background-color: #2F5575;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
}

/* Main Content Styles */
main {
  background-color: #194161;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

main p {
  font-size: 1.5em;
  color: white;
  margin: 20px 0;
}

button {
  background-color: #455B5E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
